.flex
{
  
  margin: 15px 60px;
  display: flex;
  flex-direction: column;
 flex-wrap: wrap;
  align-items: left;
  gap: 10px;

}



.flex2
{
  position: absolute;
  top: 99.4px;
  left: 370px;
  
  display: flex;
  flex-direction: column;
 flex-wrap: wrap;
  align-items: left;
  gap: 10px;

}



p
{
color: white;
margin-bottom: 10px;
margin-top: 10px;
font-size: 15px;
font-weight: bold;
text-align: center;

}

.RockPaper, .YoutubeButton, .Shipping, .info
{
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 25px;
  align-items: center;
  height: fit-content;
 padding:10px 0;
 
}

.ToDo
{
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 25px;
  align-items: center;
  height: fit-content;
 padding:10px 0;
}



li
{
  color: white;
  font-size: 15px;
}


.rock-paper-scissors
{
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  border-radius: 60px;
  cursor: pointer;
  
}

.rock-paper-scissors img
{
  
  width: 60px;
}

.moves-icon
{
  width: 60px;
  margin: 0 10px;
}

.computer
{
  display: flex;
  justify-content: center; 
  align-items: center; 
 
}
.computer p
{
  
  padding: 0;
  margin: 0;
 
  text-align: center;
  
}
.js-result
{
  margin-top: 20px;
  font-size: 20px;
}

.shipping-button, .subsButton, .reset-button, .add-button, .del-list-button
{
  
  background-color: rgb(22, 88, 126);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  cursor: pointer;
  
}

.subsButton
{
  background-color: rgb(145, 0, 0);
  font-weight: bold;
}

.subscribed-press
{
  background-color: rgb(95, 1, 1);

}

input
{
  height: 30px;
  font-size: 15px;
  border-radius: 15px;
  padding-left: 10px;
}



.add
{
  display: block;
}




